@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mandali&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
h1 {
    text-align: center; color: rgb(57,56,57);margin:0; font-size: 51px; font-family: 'Times New Roman', Times, serif;padding: 5px;
}
h2 {
    text-align: center;color: rgb(217,155,88); font-size: 36px;  font-family: "times new roman", serif;
}
h2 a {
    all: unset;         
    cursor: pointer; 
}

h3 {
    background-color: hsl(32, 88%, 84%); color: rgb(159, 77, 0); size: 28px; font-size: 25px;
}

p{
    font-size: 13px; background-color: antiquewhite; color: rgb(117,109,110);font-family: "Merriweather", serif;padding: 2px;

} 

p a {
    all: unset;         
    cursor: pointer; 
}

.continuereading{
    font-size: 13px; background-color: rgb(176, 176, 176); color: rgb(54, 54, 54);font-family: "Merriweather", serif;padding: 5px;

} 

a{
    font-family: "arial", serif;
}

.cita{
    color:grey; font-size: 17px; 
}

.backbutton{
    text-decoration: none; padding: 5px; background-color: hsl(32, 88%, 84%); color: rgb(159, 77, 0); margin-top: 5000px;
}

li a{
    text-decoration: none;
}

.lista{
    background-color: antiquewhite;
}

.footertitle{
    font-family: 'Times New Roman', Times, serif;color: rgb(217,155,88);font-size: 25px;
}
.footertext{
    font-family: 'Times New Roman', Times, serif;color: rgb(117,109,110);font-size: 17px;text-align: left;margin: 20px;
}