h1{
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    font-size: 13px;
    font-weight: 100;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    font-size: 15px;
    font-style: bold;
    margin-bottom: 30px;

}

a{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    border-radius: 50px;
    font-size: 17px;
    text-decoration: none;
    display: inline-block;
    width: 70%;
    line-height: 40px;
    margin-bottom: 10px;
    color: rgb(49, 49, 49);
}